@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

@font-face {
    font-family: 'icomoon';
    src:    url('../assets/fonts/icomoon.eot?kuu5c1');
    src:    url('../assets/fonts/icomoon.eot?kuu5c1#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?kuu5c1') format('truetype'),
    url('../assets/fonts/icomoon.woff?kuu5c1') format('woff'),
    url('../assets/fonts/icomoon.svg?kuu5c1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play, .icon-pause{
    font-size: 45px;
    color: rgb(206,51,51);
    cursor: pointer;
}

.icon-play:before {
    content: "\e052";
}

.icon-pause:before {
    content: "\e053";
}


body{
    margin: 0;
    overflow:hidden;
}

/*

    PROGRESS BAR

*/

progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{

    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;

    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;

    /* Dimensions */
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;

}

/* Polyfill */
progress[role]:after {
    background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
    display: none;
}

progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
    background: #ff717e !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: #ff717e;
}

/* IE10 */
progress {
    color: #0000FF;
}

/* Firefox */
progress::-moz-progress-bar {
    background: #0000FF;
}

/* Chrome */
progress::-webkit-progress-value {
    background: #0000FF;
}

/* Polyfill */
progress[aria-valuenow]:before  {
    background: #0000FF;
}

/*

    PLAY & STOP BUTTON

*/

.buttons-bg{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.buttons-bg > *{
    display: inline-block;
}

.about-container{
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 1.3;

    position: absolute;
    right: 50px;
    bottom: 50px;
    color: rgb(206,51,51);
    text-align: right;
}

.about-container a{
    text-decoration: none;
    color: rgb(206,51,51);
}

.about-container a:hover{
    text-decoration: underline;
    color: #0000FF;
}